{{set . "title" "Student Grades "}} {{template "header.html" .}}


<div class="container">

    <h1> Machine Problem {{ .mp.Number }} Grades for <a href="mailto:{{ .student.Email }}"> {{ .student.UserName }} </a> </h1>
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Code Score</th>
                        <th>Code Inspection Score</th>
                        <th>Questions Score</th>
                        <th>Total Score</th>
                        <th>Link</th>
                        <th>Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .grades }}
                    <tr>
                        <td>
                            {{.CodeScore}}
                        </td>
                        <td>
                            {{.TaCodeInspectionScore}}
                        </td>
                        <td>
                            {{.PeerReviewScore}}
                        </td>
                        <td>
                            <strong>
                {{.TotalScore}} 
              </strong>
                        </td>
                        <td id="{{.Id}}">
                            <a href="/admin/student/{{$.student.Id}}/mp/{{$.mp.Id}}/grade/{{.Id}}">
                Go to grade  &hellip;
              </a>
                        </td>
                        <td> <abbr class="timeago" title="{{ rfc3339 .Created }}">{{ .Created }}</abbr>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{template "footer.html" .}}