{{set . "title" "Reset Password"}} {{template "header.html" .}}


<div class="container">
    <h1>
    Reset Password
  </h1>
    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-horizontal container" action="/reset_password" method="post">

                <div class="form-group">
                    <label for="inputUserName" class="col-lg-2 control-label">User Name:</label>
                    <div class="col-lg-10">
                        <input type="inputUserName" class="form-control" name="userName" id="user_name" placeholder="User Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-md-2 control-label">Email:</label>
                    <div class="col-md-10">
                        <input type="inputEmail" class="form-control" name="email" id="email" placeholder="Email Address">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-10 col-md-1">
                        <button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{template "footer.html" .}}