{{set . "title" "Set Password"}} {{template "header.html" .}}


<div class="container">
    <h1>
    Reset Password
  </h1>
    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-horizontal container" action="/update_password/{{.user_id}}/{{.secret}}" method="post">

                <div class="form-group">
                    <label for="inputUserName" class="col-lg-3 control-label">User Name:</label>
                    <div class="col-lg-9">
                        <input type="inputUserName" class="form-control" name="userName" id="user_name" placeholder="User Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-3 control-label">New Password:</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password_confirm" class="col-md-3 control-label">Confirm New Password:</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-10 col-md-2">
                        <button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{template "footer.html" .}}