{{set . "title" "Dashboard"}}
{{append . "moreScripts" "js/react-0.8.0.min.js" }}
{{append . "moreScripts" "js/JSXTransformer-0.8.0.js" }}
{{append . "moreScripts" "js/dashboard.js" }}
{{template "header.html" .}}


<div class="container">
  <h1>
    Dashboard
  </h1>
  <div class="row">
    <div class="col-md-4 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
    <div class="col-md-4 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
    <div class="col-md-4 column">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="log"></div>
  </div>
</div>

{{ template "footer.html" . }}