{{set . "title" "Connect to Coursera"}} {{template "header.html" .}}


<div class="container">
    <h1>
    Connect Account to Coursera
  </h1>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="container">
                <hr/>
                <div class="row">
                    <p>
                        Click on the link bellow to connect this site's account to Coursera. Once done, you will be able to post the grades back to Coursera through the grades page.
                    </p>
                </div>
                <hr/>
            </div>
            <div class="row">
                <a href="https://class.coursera.org/hetero-004/courservice/lti/v1/973470/2">
                    <div class="col-sm-offset-9 col-sm-3 text-right btn btn-lg btn-danger">
                        Connect to Coursera
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}
