
	<footer class="footer container" role="contentinfo">
	  <div class="container">
	  	{{if eq .RunMode "dev"}}
		    {{template "debug.html" .}}
		  {{end}}
		  <p>
	        Designed for the <a href="https://class.coursera.org/hetero-002">Heterogeneous Parallel Programming</a> Coursera Course.
	    </p>
	  </div>
	</footer>

	<!--
    <script src="/public/js/jquery.autosize.js" type="text/javascript" charset="utf-8"></script>
	<script>
	$(window).load(function() {
	    $('#tab-interface')
	      .on('shown.bs.tab', function(e) {
			$('textarea').autosize();
	      }
	});
	</script>
	-->
  </body>	

</html>
