<nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> {{ if .user }}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> {{ end }}
            </button>
            <a href="/" class="navbar-brand">

        {{ if not .worker_alive }}

            <small>

              <span class="glyphicon glyphicon-fire text-danger"></span>

            </small>

        {{ end }}

        WebGPU

        <!-- <small class="text-small text-danger">Beta</small> -->

      </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-left">
                <!--<li class="nav-index">
          <a href="/">Index</a>
        </li> -->
                {{ if .user }}
                <li class="nav-machineproblems dropdown">
                    <a href="/#" class="dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown">Machine Problems <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{ if .is_ece408_student }} {{template "navbar/ECE408MachineProblems.html" .}} {{ end }} {{ if .is_ece598_student }} {{template "navbar/ECE598MachineProblems.html" .}} {{ end }} {{ if .coursera_mode }} {{template "navbar/CourseraMachineProblems.html" .}} {{ end }}
                    </ul>
                </li>
                <li class="nav-attempts dropdown">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Attempts <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{ if .is_ece408_student }} {{template "navbar/ECE408Attempts.html" .}} {{ end }} {{ if .is_ece598_student }} {{template "navbar/ECE598Attempts.html" .}} {{ end }} {{ if .coursera_mode }} {{template "navbar/CourseraAttempts.html" .}} {{ end }}
                    </ul>
                </li>
                {{if not .coursera_mode }}
                <li class="nav-peerreview dropdown">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Peer Review <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{template "navbar/CourseraPeerReview.html" .}}
                    </ul>
                </li>
                {{ end }}
                <li class="nav-grades dropdown">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Grades <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{ if .is_ece408_student }} {{template "navbar/ECE408Grades.html" .}} {{ end }} {{ if .is_ece598_student }} {{template "navbar/ECE598Grades.html" .}} {{ end }} {{ if .coursera_mode }} {{template "navbar/CourseraGrades.html" .}} {{ end }}
                    </ul>
                    {{if .is_admin }}
                    <li class="nav-peerreview dropdown">
                        <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{ if .is_ece408_admin }} {{template "navbar/ECE408Admin.html" .}} {{ end }} {{ if .is_ece598_admin }} {{template "navbar/ECE598Admin.html" .}} {{ end }}
                        </ul>
                    </li>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="nav-machineproblems dropdown">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/help">Tutorial</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="http://github.com/abduld/libwb">Local Development</a>
                        </li>
                        <li><a href="http://github.com/abduld/webgpu/issues">Report Issues</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/reset_password">Reset Password</a>
                        </li>
                    </ul>
                </li>

                {{ if .user }}
                <li class="nav-machineproblems dropdown">
                    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!-- 
              <li><a href="/profile/edit">Edit Profile</a></li>
              <li><a href="/tasks">Tasks</a></li>
              <li><a href="/coursera/connect">Connect to Coursera</a></li>

              -->
                        <li class="divider"></li>
                        <li><a href="/logout">Logout {{ .user.UserName }}</a>
                        </li>
                    </ul>
                </li>
                {{ else }}
                <li class="nav-login navbar-left">
                    <a href="/login">Login</a>
                </li>
                <li class="nav-login navbar-left">
                    <a href="/signup">Signup</a>
                </li>
                {{ end }}
            </ul>
        </nav>

    </div>
</nav>
