{{set . "title" "Machine Problems"}} {{template "header.html" .}}

<div class="container">
    <h1>
    Machine Problems
  </h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                {{ if .is_ece408_student }} {{template "navbar/ECE408MachineProblems.html" .}} {{ end }} {{ if .is_ece598_student }} {{template "navbar/ECE598MachineProblems.html" .}} {{ end }} {{ if .coursera_mode }} {{template "navbar/CourseraMachineProblems.html" .}} {{ end }}
            </ul>
        </div>
    </div>
</div>

{{template "footer.html" .}}