{{set . "title" "Machine Problems"}}
{{template "header.html" .}}

<div class="container">
  <h1>
    Machine Problems
  </h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><a href="/mp/0">Device Query</a></li>
        <li><a href="/mp/1">Vector Addition</a></li>
        <li><a href="/mp/2">Basic Matrix-Matrix Multiplication</a></li>
        <li><a href="/mp/3">Tiled Matrix-Matrix Multiplication</a></li>
        <li><a href="/mp/6">Image Convolution</a></li>
        <li><a href="/mp/4">List Reduction</a></li>
        <li><a href="/mp/5">List Scan</a></li>
        <li><a href="/mp/11">Histogram</a></li>
        <li><a href="/mp/12">Vector Addition with Streams</a></li>
        <li><a href="/mp/7">Vector Addition with OpenCL</a></li>
        <li><a href="/mp/9">Vector Addition with OpenACC</a></li>
      </ul>
    </div>
  </div>
</div>

{{template "footer.html" .}}
