{{set . "title" "Worker Messages"}}
{{template "header.html" .}}


<div class="container">
	<div class="row">
		<h3 class="col-md-10">
			Logs from Worker 
		</h3>
  </div>

{{range .status}}
  <div class="panel panel-default">
  	<div class="panel-heading">
		({{ raw .Address}})
		<abbr class="timeago" title="{{rfc3339 .Time}}">
			{{rfc3339 .Time}}
		</abbr>
  	</div>
    <div class="panel-body">
    	<pre>
    	{{ raw .Data}}
    	</pre>
    </div>
  </div>
{{end}}
</div>


{{template "footer.html" .}}


