<li>
    <a href="/mp/0/attempts">Device Query</a>
</li>
<li><a href="/mp/1/attempts">Vector Addition</a>
</li>
<li><a href="/mp/2/attempts">Basic Matrix-Matrix Multiplication</a>
</li>
<li><a href="/mp/3/attempts">Tiled Matrix-Matrix Multiplication</a>
</li>
<li><a href="/mp/6/attempts">Image Convolution</a>
</li>
<li><a href="/mp/4/attempts">List Reduction</a>
</li>
<li><a href="/mp/5/attempts">List Scan</a>
</li>
<li><a href="/mp/11/attempts">Histogram</a>
</li>
<li><a href="/mp/12/attempts">Vector Addition with Streams</a>
</li>
<li><a href="/mp/7/attempts">Vector Addition (OpenCL)</a></li>
<li><a href="/mp/9/attempts">Vector Addition (OpenACC)</a></li>
<li><a href="/mp/8/attempts">Vector Addition (C++AMP)</a></li>
