<li>
    <a href="/grades/0">Device Query</a>
</li>
<li><a href="/grades/1">Vector Addition</a>
</li>
<li><a href="/grades/2">Basic Matrix-Matrix Multiplication</a>
</li>
<li><a href="/grades/3">Tiled Matrix-Matrix Multiplication</a>
</li>
<li><a href="/grades/6">Image Convolution</a>
</li>
<li><a href="/grades/4">List Reduction</a>
</li>
<li><a href="/grades/5">List Scan</a>
</li>
<li><a href="/grades/11">Histogram</a>
</li>
<li><a href="/grades/12">Vector Addition with Streams</a>
</li>
<li><a href="/grades/7">Vector Addition (OpenCL)</a></li>
<li><a href="/grades/9">Vector Addition (OpenACC)</a></li>
<li><a href="/grades/8">Vector Addition (C++AMP)</a></li>
