
.footer {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: right;
  border-top: 1px solid #7a62d3;
  line-height: 1.2;
  font-size: 10px;
}

.footer-links {
  margin: 10px 0;
  padding-left: 0;
}

p.lead {
	margin-left: 10px;
	margin-right: 80px;
	display: block;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer p {
    margin-bottom: 0;
  }
}

body {
  position: relative; /* For scrollyspy */
  padding-top: 55px; /* Account for fixed navbar */
}


pre {
  color: #333;
  background-color: #eee;
}

code {
  color: #333;
  background-color: #eee;
}

.logger-trace {
  .active
}

.centered {
  text-align: center;
}

textarea {
  font-family: inherit;
}
.modal-dialog {
  position: fixed;
}

